@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

.text-highlight {
    font-weight: bold;
    font-size: 1.35rem; 
}

.title {
    font-family: 'Nunito';
    font-size: 2.5rem;
}
.sub_title {
    font-family: 'Nunito Sans';
    font-size: 1.1rem;
}
